[submodule "External/Diese"]
	path = External/Diese
	url = https://github.com/ReMinoer/Diese.git
[submodule "External/Stave"]
	path = External/Stave
	url = https://github.com/ReMinoer/Stave
[submodule "External/Fingear"]
	path = External/Fingear
	url = https://github.com/ReMinoer/Fingear
