<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogFile="nlog.log" internalLogLevel="Trace">

  <targets>
    <target name="console" xsi:type="ColoredConsole" layout="${time} > ${message}"
            useDefaultRowHighlightingRules="False">

      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="DarkRed" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Magenta" />
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="White" />
      <highlight-row condition="level == LogLevel.Trace" foregroundColor="Gray" />

      <highlight-word regex="(.*)Loaded(.*)" foregroundColor="Cyan" />
      <highlight-word regex="(.*)> finished(.*)" foregroundColor="Green" />
      <highlight-word regex="(.*)> triggered(.*)" foregroundColor="Green" />

    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="console" />
  </rules>

</nlog>